# Data Science Tools and Ecosystem

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Demonstrate how to evaluate arithmetic expressions in Python.
- Convert minutes to hours using Python.
- Create tables to summarize information.

## Author

Elizabeth

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn

| Data Science Tools  |
|----------------------|
| Jupyter Notebook      |
| RStudio               |
| Apache Zeppelin       |

### Below are a few examples of evaluating arithmetic expressions in Python.

```python
# Addition
sum_result = 5 + 3  # Result: 8

# Subtraction
difference_result = 10 - 4  # Result: 6

# Multiplication
product_result = 7 * 6  # Result: 42

# Division
division_result = 15 / 3  # Result: 5.0

# Floor Division
floor_division_result = 15 // 4  # Result: 3

# Modulus
modulus_result = 10 % 3  # Result: 1

# Exponentiation
exponentiation_result = 2 ** 3  # Result: 8

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335